<DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="js/vue.js"></script>
    <script src="js/lodash.js"></script>
  </head>

  <body>
    <div id="root">
      <h1 v-text="msg"></h1>
      <h2>Listando as pessoas</h2>
      <table>
        <thead>
          <th>Id</th>
          <th>Nome</th>
        </thead>
        <tbody>
          <tr v-for="pessoa in pessoasFiltradas">
            <td>{{pessoa.id}}</td>
            <td>{{pessoa.nome}}</td>
          </tr>
        </tbody>
      </table>
      <form>
        Pesquise: <input type="text" placeholder="digite o nome" v-model="pesquisa" />
      </form>
      <br />
      <pre>
          {{ pessoasFiltradas }} -- {{ pesquisa }}
        </pre>
    </div>
    <script>
      var app = new Vue({
        el: '#root',
        data: {
          msg: 'Hello Vuejs',
          pesquisa: '',
          pessoas: [{
              id: 1,
              nome: 'Lucas'
            },
            {
              id: 2,
              nome: 'Gabriel'
            },
            {
              id: 3,
              nome: 'Thiago'
            },
            {
              id: 4,
              nome: 'Tálita'
            }
          ]
        },
        computed: {
          pessoasFiltradas: function() {
            if(this.pesquisa.length < 1) {
              return this.pessoas
            } else {
              return _.filter(this.pessoas, { 'nome': this.pesquisa });
            }
          }
        }
      });
    </script>
  </body>

  </html>
